:root {
    --c-1: white;
    --c-2: black;

    --font-family-fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-header: var(--font-family-fallback);
    --font-text: var(--font-family-fallback);
}