@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/open-sans-regular.woff2') format('woff2'),
         url('../fonts/open-sans-regular.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/open-sans-bold.woff2') format('woff2'),
         url('../fonts/open-sans-bold.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/open-sans-italic.woff2') format('woff2'),
         url('../fonts/open-sans-italic.woff') format('woff');
}